/*
- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)
- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --darkCyan:  hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayBlue:  hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}

*{
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    margin:0;
    padding:0;
    background-color: var(--cream);
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    margin: 28px 16px;
    background-color: var(--white);
    border-radius: 10px;
    
}

#product {
    content: url("./resources/images/image-product-mobile.jpg");
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#content {
    padding-left: 25px;
    padding-right: 23px;
    padding-top: 27px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

#tag {
    letter-spacing: 6px;
    font-family: Montserrat;
    color: var(--darkGrayBlue)
}

#content > h1 {
    font-family: Fraunces;
   
}

#subtitle {
    font-family: Montserrat;
    color: var(--darkGrayBlue);
    font-size: 14px;
    line-height:24px;
}

#prices {
    display: flex;
    align-items: center;
    
}
.new-price {
    color: var(--darkCyan);
    font-family: Fraunces;
    font-size: 30px;
}

.old-price {
    margin-left: 20px;
    font-family: Montserrat;
    color: var(--darkGrayBlue);
    text-decoration: line-through;
}

button {
    background-color: var(--darkCyan);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
}

button img {
    margin-right: 10px;
    vertical-align: middle;
}

button:hover {
    background-color: hsl(156, 42%, 18%);
}

@media only screen and (min-width: 1440px){
    #product {
        content: url("./resources/images/image-product-desktop.jpg");
        border-top-right-radius: 0%;
        border-bottom-left-radius: 10px;
        max-width: 100%;
        height: auto;
        
    }

    *{
        overflow: hidden;

    }
  
    html{
        min-height: 100%;
    }

    body {
        width: 100%;
        display: grid;
        place-content: center;
        padding: 175px 222px;
    }


    main {
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 450px;
        margin: 0;
        
    }

    #content {
        width: 50%;
        padding: 32px;
    }

    #tag {
        margin: 0;
        font-size: 11px;
        margin-bottom: 20px;
    }

    #content h1{
        font-size: 28px;
        margin: 0;
        width: 190px;
        
    }

    #subtitle {
        margin: 0;
        margin-top: 20px;
    }

    button{
        cursor: pointer;
    }

    
}
